.Login{
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.login_title{
    color: red;
    font-size: 50px;
}
.login_content{
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.login_form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    height: 200px;
}
.login_label{
    font-size: 1.3rem;
}
.login_input {
    height: 40px;
    
}
.login_button{
    border: none;
    background: red;
    width: 70%;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-size: 1.3rem;
}